doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css' type='text/css')
    script(type='text/javascript' src="/scripts/jquery-2.2.2.min.js")
    block scripts
  body
    block content
