extends layout

block scripts
    script(type='text/javascript' src='/scripts/matchhistory.js')

block content
    h1.
        Match History
    div
        form#formAddMatch(name="addmatch",method="post",action="/addmatch")
            table
                thead
                    tr
                        th(colspan=7) Submit New Match
                tbody
                        tr
                            td
                                select(placeholder="winner", name="winner")
                                    each user, i in users
                                        option(selected=user.username==pers.winner) #{user.username}
                            td
                                select(placeholder="winner_char", name="winner_char")
                                    each char, i in characters
                                        option(selected=char==pers.winner_char) #{char}
                            td
                                select(placeholder="loser", name="loser")
                                    each user, i in users
                                        option(selected=user.username==pers.loser) #{user.username}
                            td
                                select(placeholder="loser_char", name="loser_char")
                                    each char, i in characters
                                        option(selected=char==pers.loser_char) #{char}
                            td
                                button#btnSwap(type="button") swap
                            td
                                input(type="checkbox", placeholder="three_stock", name="three_stock")
                            td
                                button#btnSubmit(type="submit") submit
                        tr
                            td(colspan=7)
                                a(href="standings") Go to Standings
                        tr
                            td(colspan=7)
                                a(href="removematch") Remove Last Match
                thead
                    tr
                        th Winner
                        th Character
                        th Loser
                        th Character
                        th ELO
                        th 3 Stock
                        th Date
                tbody
                    each match, i in matchhistory
                        tr
                            td #{match.winner}
                            td
                                img(src='/images/' + match.winner_char + 'HeadSSBM.png')
                            td #{match.loser}
                            td
                                img(src='/images/' + match.loser_char + 'HeadSSBM.png')
                            td ±#{match.elo_delta}
                            td
                                if match.three_stock
                                    | X
                            td #{match.date}

