extends layout

block scripts
    script(type='text/javascript' src="/scripts/plotly-1.7.1-min.js")
    script.
        data=!{data}
    script(type='text/javascript' src='/scripts/graphs.js')

block content
    h1.
        Standings
    div
        table
            thead
                tr
                    th
                    th Player
                    th ELO
                    th Wins
                    th Losses
            tbody
                each user, i in users
                    tr
                        td
                            img(src='/images/Rank' + (i + 1) + '.png')
                        td #{user.username}
                        td #{user.elo}
                        td #{user.wins}
                        td #{user.losses}
                tr
                    td(colspan=5)
                        a(href="matchhistory") Go to Match History
                tr
                    td(colspan=5)
                        #plotdiv

