body {
  font: 14px Arial, sans-serif;
  margin: 0;
  padding: 0;
}

a {
  color: #00B7FF;
}

table {
font-family: sans-serif;
-webkit-font-smoothing: antialiased;
font-size: 115%;
width: 100%;
overflow: auto;
}
table th {
background-color: rgb(112, 196, 105);
font-weight: normal;
color: white;
padding: 20px 30px;
text-align: center;
}
table td {
background-color: rgb(238, 238, 238);
padding: 20px 30px;
color: rgb(111, 111, 111);
text-align: center;
}
